
body {
    background-color: #A5BECC;

}

header,body,footer {
    font-family: 'Kanit', sans-serif;
}

header {
    color:#F2EBE9;
    font-size: 30px;
}

.header {
    color: black;
    font-size: 30px;
}

h2 {
    color: #F2EBE9;
    font-size: 30px;
}

p {
    color: #F2EBE9;
    font-size: 20px;
}

footer {
    color:#F2EBE9;
    font-size: 15px;
}